@import '../globalconfig.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.parentdiv {
  padding: 10px;
  display: flex;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.resetdiv, .playdiv {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
}

.resetdiv:hover, .playdiv:hover {
  background-color: #cdcfd7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.textbox {
  font-family: 'PixelFont', sans-serif;
  text-align: center;
  color: #09103b;
  background-color: #84879d;
  outline-color: black;
  outline-style: solid;
  padding: 15px;
  outline-width: 5px;
}

.textbox h2 {
  color: #09103b;
}

.contentbox {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 5px auto 0;
  padding: 10px;
}

.left-column, .right-column {
  width: 100%;
  background-color: #dcdcdc;
  font-family: 'PixelFont', sans-serif;
  padding: 20px;
}

.right-column {
  overflow-y: auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.button {
  padding: 10px;
  border-radius: 25px;
  font-family: 'PixelFont', sans-serif;
  background-color: #84879d;
  font-weight: bold;
  color: #09103b;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #020411;
  outline-color: black;
  outline-style: solid;
  outline-width: 5px;
  overflow-x: auto;
}

li {
  margin: 0 5px;
}

li a {
  display: block;
  color: #cdcfd7;
  font-weight: bold;
  font-family: 'PixelFont', sans-serif;
  text-align: center;
  padding: 3% 5%;
  text-decoration: none;
  font-size: 12px;
}

li a:hover {
  background-color: #222;
}

@media (min-width: 768px) {
  .parentdiv {
    justify-content: space-between;
  }

  .contentbox {
    flex-direction: row;
  }

  .left-column, .right-column {
    width: 48%;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .level-list li a {
    display: inline-block;
    padding: 5px;
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  .parentdiv {
    justify-content: space-around;
  }
}
