<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
</head>
<body>
<header>
  <div class="burger-menu" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <nav>
    <ul [ngClass]="{'show': isMenuOpen}">
      <li><a [routerLink]="['/how-to-play']" (click)="closeMenu()">How to Play</a></li>
      <li><a [routerLink]="['/the-idea']" (click)="closeMenu()">The Idea</a></li>
      <li><a [routerLink]="['/play-the-game']" (click)="closeMenu()">Play the game</a></li>
      <li><a [routerLink]="['/about-us']" (click)="closeMenu()">About Us</a></li>
      <li><a [routerLink]="['/impressum']" (click)="closeMenu()">Impressum</a></li>
    </ul>
  </nav>
</header>
</body>
</html>
