@import '../globalconfig.css';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020411;
  display: flex;
  justify-content: space-between;
}

li a {
  display: block;
  color: #cdcfd7;
  text-align: center;
  font-family: 'PixelFont', sans-serif;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #222;
}

@media only screen and (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    width: 100%;
  }
}
