<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
</head>
<body>
<header>
  <h2>About Us</h2>
  <h3>Who we are and what we do</h3>
</header>
<section class="about-us">
  <div class="textbox">
    <p>As a close-knit group of four students at Hochschule für Wirtschaft
      und Technik Berlin we embarked on a thrilling journey to develop a programming
      learning game akin to the iconic Pac-Man as part of our university project.
    </p>
    <p>Our shared passion for coding and game development fueled
      our creativity.<br>It led us to seamlessly blend entertainment with
      educational elements.<br>The collaboration with the real company diva-e
      added an exciting twist to our endeavor offering us a glimpse into
      the practicalities of the industry.<br>It was an incredible opportunity
      to apply our classroom knowledge in a real-world context.
    </p>
    <p>Our shared passion for coding and game development fueled
      our creativity.<br>It led us to seamlessly blend entertainment with
      educational elements.<br>The collaboration with the real company diva-e
      added an exciting twist to our endeavor offering us a glimpse into
      the practicalities of the industry.<br>It was an incredible opportunity
      to apply our classroom knowledge in a real-world context.<br>The project
      not only showcased our technical skills but also allowed us to explore
      the intersection of education and gaming.<br>Working hand-in-hand with diva-e
      we gained invaluable insights.<br>We created a game that not only engaged
      players but also served as a practical learning tool.<br>This experience
      left an indelible mark on our academic journey reinforcing the
      importance of bridging theory with hands-on experience in the
      ever-evolving field of programming.</p>
  </div>
</section>
<section class="about-us">
  <div class="textbox">
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="width:100%" viewBox="0 0 24 24">
            <path fill="currentColor" d="M7 3h10v2h5v16H2V7h2v12h16V7h-5V5H9v2H2V5h5zm7 12h-4v2h4zm-4-2v2H8v-2zm0-2V9H8v2zm6 2v2h-2v-2zm0-2V9h-2v2z"/>
          </svg>
        <div class="container">
          <h2>Name Surname</h2>
          <p class="title">Role</p>
          <p>Some text that describes me</p>
          <p>github.com</p>
          <p><button class="button">LinkedIn</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="width:100%" viewBox="0 0 24 24">
          <path fill="currentColor" d="M7 3h10v2h5v16H2V7h2v12h16V7h-5V5H9v2H2V5h5zm7 12h-4v2h4zm-4-2v2H8v-2zm0-2V9H8v2zm6 2v2h-2v-2zm0-2V9h-2v2z"/>
        </svg>
        <div class="container">
          <h2>Name Surname</h2>
          <p class="title">Role</p>
          <p>Some text that describes me</p>
          <p>github.com</p>
          <p><button class="button">LinkedIn</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="width:100%" viewBox="0 0 24 24">
          <path fill="currentColor" d="M7 3h10v2h5v16H2V7h2v12h16V7h-5V5H9v2H2V5h5zm7 12h-4v2h4zm-4-2v2H8v-2zm0-2V9H8v2zm6 2v2h-2v-2zm0-2V9h-2v2z"/>
        </svg>
        <div class="container">
          <h2>Name Surname</h2>
          <p class="title">Role</p>
          <p>Some text that describes me</p>
          <p>github.com</p>
          <p><button class="button">LinkedIn</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="width:100%" viewBox="0 0 24 24">
          <path fill="currentColor" d="M7 3h10v2h5v16H2V7h2v12h16V7h-5V5H9v2H2V5h5zm7 12h-4v2h4zm-4-2v2H8v-2zm0-2V9H8v2zm6 2v2h-2v-2zm0-2V9h-2v2z"/>
        </svg>
        <div class="container">
          <h2>Name Surname</h2>
          <p class="title">Role</p>
          <p>Some text that describes me</p>
          <p>github.com</p>
          <p><button class="button">LinkedIn</button></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</body>
</html>
