@import '../globalconfig.css';

body {
  font-family: 'PixelFont', sans-serif;
  background-color: #84879d;
}

header {
  color: #09103b;
  text-align: center;
}

h2 {
  line-height: 1.4;
}

h3 {
  text-align: center;
  line-height: 1.5;
  margin: 0 3% 5%;
}

.textbox {
  color: #09103b;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.9;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
}

.column {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  background-color: #ecf0f1;
  border-radius: 8px;
  padding: 15px;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

.container p {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container h2 {
  font-size: 1em;
  margin: 10px 0;
  color: #020411;
}

.container p {
  margin: 5px 0;
}

.button {
  background-color: #84879d;
  font-family: 'PixelFont', sans-serif;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #6b72a4;
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  .column {
    flex: 0 0 48%;
    max-width: 48%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
}
