<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <h1>About Us</h1>
</header>
<section class="about-us">
  <div class="textbox">
    <h2>Some text about who we are and what we do.</h2>
    <p>As a close-knit group of four students at Hochschule für Wirtschaft
      und Technik Berlin, we embarked on a thrilling journey to develop a programming
      learning game akin to the iconic Pac-Man as part of our university project.
    </p>
    <p>Our shared passion for coding and game development fueled
      our creativity, leading us to seamlessly blend entertainment with
      educational elements. The collaboration with the real company diva-e
      added an exciting twist to our endeavor, offering us a glimpse into
      the practicalities of the industry. It was an incredible opportunity
      to apply our classroom knowledge in a real-world context.
    </p>
    <p>Our shared passion for coding and game development fueled
      our creativity, leading us to seamlessly blend entertainment with
      educational elements. The collaboration with the real company diva-e
      added an exciting twist to our endeavor, offering us a glimpse into
      the practicalities of the industry. It was an incredible opportunity
      to apply our classroom knowledge in a real-world context. The project
      not only showcased our technical skills but also allowed us to explore
      the intersection of education and gaming. Working hand-in-hand with diva-e,
      we gained invaluable insights, creating a game that not only engaged
      players but also served as a practical learning tool. This experience
      left an indelible mark on our academic journey, reinforcing the
      importance of bridging theory with hands-on experience in the
      ever-evolving field of programming.</p>
  </div>
</section>
<section class="about-us">
  <div class="textbox">
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/favicon.ico" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>janemple.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/favicon.ico" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/favicon.ico" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>johom</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</body>
</html>
