@import '../globalconfig.css';
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #020411;
  outline-color: black;
  outline-style: solid;
  outline-width: 5px;
}

li a {
  display: block;
  color: #cdcfd7;
  font-weight: bold;
  font-family: 'PixelFont', sans-serif; /* Use the defined font-family */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #080e35;
}
  