@import '../globalconfig.css';
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  flex-direction: column;
}
.textbox {
  width: 100%;
  font-family: 'PixelFont', sans-serif; /* Use the defined font-family */
  text-align: center;
  background-color: #dcdcdc;
}
.textbox h2 {
  color: #333;
}
.contentbox {
  display: flex;
}
.left-column {
  width: 20%;
  background-color: lightblue;
  font-family: 'PixelFont', sans-serif; /* Use the defined font-family */
  padding: 20px;
}
.right-column {
  width: 80%;
  background-color: lightgreen;
  font-family: 'PixelFont', sans-serif; /* Use the defined font-family */
  padding: 20px;
  height: 'max-content';
  overflow-y: auto; /* Add this to enable vertical scrolling */
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  padding: 10px;
  border-radius: 25px;
  font-family: 'PixelFont', sans-serif; /* Use the defined font-family */
  background-color: #777;
  font-weight: bold;
  color: black;
  border: none;
  cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
button:hover {
  background-color: #666;
}