<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Idea</title>
</head>
<body>
<header>
  <h2>Our Game Journey</h2>
  <h3>How We Got the Idea</h3>
</header>
<section class="story">
  <div class="textbox">
    <p>Our journey began as a group of passionate students at Hochschule für Wirtschaft
      und Technik Berlin.<br>One day during our university project brainstorming session
      the iconic Pac-Man game caught our attention.
    </p>
    <p>The idea of creating a game inspired by Pac-Man struck us as a fun and challenging
      project.<br>We considered it an opportunity to merge classic gaming with modern
      educational elements.
    </p>
    <p>Our shared passion for coding and game development fueled our creativity.<br>
      We envisioned a game that not only entertained players but also served as a practical
      learning tool.<br>This idea marked the beginning of our exciting adventure.
    </p>
  </div>
</section>
</body>
</html>
