@import '../globalconfig.css';

body {
  font-family: 'PixelFont', sans-serif;
  background-color: #84879d;
}

header {
  color: #09103b;
  text-align: center;
}

h2 {
  line-height: 1.4;
}

h3 {
  text-align: center;
  line-height: 1.5;
  margin: 0 3% 5%;
}

.textbox {
  color: #09103b;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.9;
}

.textbox ol {
  list-style-type: decimal;
  margin-left: 10%;
}

.textbox ul {
  list-style-type: disc;
}

.textbox li {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.9;
}

@media only screen and (max-width: 480px) {
  .textbox {
    padding: 10px;
  }

  .textbox h3 {
    font-size: 1em;
  }
}
